@import url("https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css");

@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/brands.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/solid.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/regular.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css");

@import url('https://fonts.font.im/css?family=Dosis:700');

.bg-primary{background-color: #4189dd !important;}
.text-primary{color: #4189dd !important;}
.btn-primary:not(:focus):not(:hover):not(:active){background-color: #4189dd;}
.btn-outline-primary:link{background-color: white; color: #4189dd;}
.btn-outline-primary:hover{background-color: #4189dd; color: white;}
.btn-outline-primary:active{background-color: #4189dd !important; color: white;}

.vrc-logo{font-family: Dosis, sans-serif; font-weight: bold; letter-spacing: 1px; font-size: 0.9em; text-transform: uppercase;}
.teo-logo{font-family: LiSu, 'Noto Sans CJK', sans-serif; font-size: 1.15em; letter-spacing: -2px;}

.text-shadow{text-shadow: 2px 2px 4px black;}
.text-smallcaps{font-variant-caps: small-caps;}

.border-trusted {border-color: #8143e6 !important;}
.border-known {border-color: #ff7b42 !important;} 