@import url("https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css");

@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/brands.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/solid.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/regular.min.css");

@import url("https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css");

@import url('https://fonts.font.im/css?family=Dosis:700');

/*  替换primary开始
13, 110, 253;变65, 137, 221;
#0d6efd;变#4189dd;
*/
:root,
[data-bs-theme=light] {
	--bs-blue: #4189dd;
	--bs-primary: #4189dd;
	--bs-primary-rgb: 65, 137, 221;
	--bs-link-color: #4189dd;
	--bs-link-color-rgb: 65, 137, 221;
}

.btn-primary {
	--bs-btn-bg: #4189dd;
	--bs-btn-border-color: #4189dd;
	--bs-btn-disabled-bg: #4189dd;
	--bs-btn-disabled-border-color: #4189dd;
}

.btn-outline-primary {
	--bs-btn-color: #4189dd;
	--bs-btn-border-color: #4189dd;
	--bs-btn-hover-bg: #4189dd;
	--bs-btn-hover-border-color: #4189dd;
	--bs-btn-focus-shadow-rgb: 65, 137, 221;
	--bs-btn-active-bg: #4189dd;
	--bs-btn-active-border-color: #4189dd;
	--bs-btn-disabled-color: #4189dd;
	--bs-btn-disabled-border-color: #4189dd;
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: #4189dd;
}

.nav-pills {
	--bs-nav-pills-link-active-bg: #4189dd;
}
/*替换primary结束*/


@font-face {
  font-family: "LiSu";
  src:
    local("LiSu"),
    url("/font/LiSu.woff2") format("woff2");
}

.vrc-logo{font-family: Dosis, sans-serif; font-weight: bold; letter-spacing: 1px; font-size: 0.9em; text-transform: uppercase;}
.teo-logo{font-family: LiSu, 'Noto Sans KR', 'Noto Sans CJK', sans-serif; font-size: 1.15em; letter-spacing: -2px;}

.text-shadow{text-shadow: 2px 2px 4px black;}
.text-smallcaps{font-variant-caps: small-caps;}
.text-indent{text-indent: 2em;}
.p-indent p{text-indent: 2em;}

.border-trusted{border-color: #8143e6 !important;}
.border-known{border-color: #ff7b42 !important;} 

u{text-decoration: none; border-bottom: 1px solid;}  /*专名号*/