@import url("https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css");

@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/brands.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/solid.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/regular.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css");

@import url('https://fonts.font.im/css?family=Dosis:700');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Serif+KR&display=swap');

.bg-primary{background-color: #4189dd !important;}
.text-primary{color: #4189dd !important;}
.btn-primary:not(:focus):not(:hover):not(:active){background-color: #4189dd;}
.btn-outline-primary:link{background-color: white; color: #4189dd;}
.btn-outline-primary:hover{background-color: #4189dd; color: white;}
.btn-outline-primary:active{background-color: #4189dd !important; color: white;}

.font-vrc{font-family: Dosis; font-weight: bold; letter-spacing: 1px; font-size: 0.9em; text-transform: uppercase;}
.font-teo{font-family: LiSu,'Noto Sans KR'; font-size: 1.15em; letter-spacing: -2px}
.font-zh{font-family: 'Noto Sans SC', sans-serif;}

a {text-decoration: none;}

.text-shadow{text-shadow: 2px 2px 4px black;}