<footer class="bg-primary shadow text-light small pt-4 pb-3">
	<div class="container">
		<div class="row">
			<!-- 左侧logo及版权 -->
			<div class="col-lg order-last order-lg-first">
				<div class="h2 mb-3"><span class="vrc-logo">VRChat</span><span class="teo-logo ms-2" lang="ko">潮州會館</span></div>
				<a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg"></a>
				<div>本站由<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://pages.github.com/" target="_blank">GitHub Pages</a>、<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://getbootstrap.com/" target="_blank">Bootstrap</a><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="/thank/zh.html">等</a>提供技术支撑</div>
				<div class="text-uppercase">
					<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a> ⓪ 2023-<span id="thisyear"></span>
					<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://dqwyy.moe" target="_blank">dqwyy</a>
					<abbr title="引用及有特别说明的内容除外">公有领域-放弃所有版权</abbr>
				</div>
			</div>

			<!-- 中间友情链接 -->
			<div class="col-lg-auto mx-lg-5">
				<h5>友情链接</h5>
				<ul class="" style="list-style-type: none; padding-left: 0;">
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://hello.vrchat.com/" target="_blank">VRChat</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://huajia.163.com/profile/PBZQWbD8" target="_blank">地球不适外星包@画加</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://teochew.sg/" target="_blank">新加坡潮州八邑会馆</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://teochewjb.com.my/" target="_blank">柔佛潮州八邑会馆</a></li>
				</ul>
			</div>

			<!-- 右侧联络方式 -->
			<div class="col-lg-auto mx-lg-5">
				<h5>联络</h5>
				<ul class="" style="list-style-type: none; padding-left: 0;">
					<li>VRChat群组：<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://vrc.group/TEO.9587">TEO.9587</a></li>
					<li>QQ群：<abbr title="用潮汕话读出">乐力字衫龙七泽力乐</abbr></li>
					<li id="poi">电子邮箱：me@dq<span class="d-none">123.com</span>wyy.moe</li>
					<li>其他：<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://discord.com/invite/R48epUu4H4" target="_blank">Discord服务器</a>、<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://steamcommunity.com/groups/vrcteo" target="_blank">Steam组</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>