<footer class="bg-primary shadow text-light small pt-4 pb-3">
	<div class="container">
		<div class="row">
			<!-- 左侧logo及版权 -->
			<div class="col-lg order-last order-lg-first">
				<div class="h2 mb-3"><span class="vrc-logo">VRChat</span><span class="teo-logo ms-2">潮州會館</span></div>
				<a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg"></a>
				<div class="mt-1">本站有<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://pages.github.com/" target="_blank">GitHub Pages</a>佮<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://getbootstrap.com/" target="_blank">Bootstrap</a><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="/thank/">之類個</a>相輔出力</div>
				<div class="text-uppercase">
					<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a> ⓪ 2023-<span id="thisyear"></span>
					<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://dqwyy.moe" target="_blank">dqwyy</a>
					<abbr title="別人物件佮有就專呾明個物件無算在底">公有領域-版權攏總捨掉</abbr>
				</div>
			</div>

			<!-- 中间友情链接 -->
			<div class="col-lg-auto mx-lg-5">
				<h5>厝邊頭尾</h5>
				<ul class="" style="list-style-type: none; padding-left: 0;">
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://hello.vrchat.com/" target="_blank">VRChat</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://huajia.163.com/profile/PBZQWbD8" target="_blank">地球不适外星包@畵加</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://teochew.sg/" target="_blank">新加坡潮州八邑會館</a></li>
					<li><a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://teochewjb.com.my/" target="_blank">柔佛潮州八邑會館</a></li>
				</ul>
			</div>

			<!-- 右侧联络方式 -->
			<div class="col-lg-auto mx-lg-5">
				<h5>上落</h5>
				<ul class="" style="list-style-type: none; padding-left: 0;">
					<li>VRChat群組：<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://vrc.group/TEO.9587">TEO.9587</a></li>
					<li>QQ群：樂力字衫龍七澤力樂</li>
					<li id="poi">電子批：me@dq<span class="d-none">123.com</span>wyy.moe</li>
					<li>別個：<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://discord.com/invite/R48epUu4H4" target="_blank">紛紜服務器</a>、<a class="link-light link-underline-light link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-75-hover" href="https://steamcommunity.com/groups/vrcteo" target="_blank">水汽組</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>